<div class="Contenedor">

    <div class="subcontenedor mx-3" >
    <h3 class="text-center mt-3"> Welcome to CSMA NEWS</h3>
    <img class="text-center mb-3" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnUCUa7mFgeTdZ06D3FBV1l_QxgkC1MPRDzQ&usqp=CAU" width="100%" >
    <p style="text-align: justify;">Este periodico digital tiene como fin informar a la comunidad mateista, de las noticias mas importantes de las ultimas semanas, este periodico esta hecho por la promocion 2023, es de facil acceso y se puede entrar desde los dispositivos moviles.</p>
    <b> Conformado por:</b>
    <code> Pipe Rodriguez, Neyder Neme(docente) y Yo </code>
</div>




</div>
